name: Sample yaml for github actions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  hello-world:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Checkout 
      uses: actions/checkout@v5
      with:
        repository: bLACKZU/npm-infra
        token: ${{ secrets.token }}

    - name: commit
      run: |
        git config --global user.name 'bLACKZU'
        git config --global user.email 'satyakighosh65@gmail.com'
        echo "New addition" >> README.md
        git add README.md
      
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v7
      with:
        token: ${{ secrets.token }}
        commit-message: Add hello.txt
        title: Add hello.txt
        body: This PR adds a hello.txt file to the repository.
        base: main
        branch: develop

    - name: Pull req number
      run: echo "Pull Request Number is ${{ steps.cpr.outputs.pull-request-number }}"
  
  

